@media (max-device-width: 768px) {
    .container {
        width: 100%;
    }
}

html {
    background: #74AFAD;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.top {
    background: #74AFAD;
}

.bottom {
    background: #74AFAD;
}

.center {
    background: #ECECEA;
}

.horizontal {
    height: 3px;
    color: #558C89;
    background-color: #558C89;
}

.logo-image {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
}

.upload-image {
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 60px;
}

.author {
    color: #FFFFFF;
    font-weight: 300;
}

.instruction {
    color: #5D737E;
    font-weight: 300;
}

.prompt {
    padding-top: 30px;
    color: #5D737E;
}

.result {
    min-height: 200px;
}

.label {
    color: #558C89;
}

.label h3{
    font-size: 40px;
}

.footer {
    padding-top: 10px;
    color: #FFFFFF;
    font-weight: 400;
}

.footer a {
    color: #23527c;
}


.dropzone {
    border: 2px dashed #558C89;
    border-radius: 5px;
    background: #ECECEA;
}

.dropzone .dz-message {
    font-weight: 400;
    font-size: 2em;
}

.dropzone .dz-preview.dz-image-preview {
  background: #ECECEA; }

.dropzone .dz-message .note {
    font-size: 1.8em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem;
}
