html {
    background: #0d46a1;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.top {
    background: #0d46a1;
    /*#74AFAD*/
}

.bottom {
    background: #0d46a1;
}

.center {
    background: #ECECEA;
}

.horizontal {
    height: 3px;
    color: #457B9D;
    background-color: #457B9D;
}

.logo-image {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.sample-image{
    cursor: pointer;
}

.upload-image {
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 60px;
}

.author {
    color: #FFFFFF;
    font-weight: 300;
}

.instruction {
    color: #5D737E;
    font-weight: 300;
}

.prompt {
    padding-top: 30px;
    color: #5D737E;
}

.result {
    min-height: 300px;
}

.label {
    color: #457B9D;
}

.label h3 {
    font-size: 40px;
}

.footer {
    padding-top: 10px;
    color: #FFFFFF;
    font-weight: 400;
}

.footer a {
    color: #A8DADC;
    /*color: #F1FAEE;*/
}


.dropzone {
    border: 2px dashed #457B9D;
    border-radius: 5px;
    background: #ECECEA;
}

.dropzone .dz-message {
    font-weight: 400;
    font-size: 2em;
}

.dropzone .dz-preview.dz-image-preview {
  background: #ECECEA; }

.dropzone .dz-message .note {
    font-size: 40px;
    font-weight: 100;
    display: block;
    margin-top: 1.4rem;
}


@media (max-device-width: 768px) {
    .container {
        width: 100%;
    }

    .author {
        font-size: 40px;
    }

    .prompt {
        padding-top: 10px;
    }

    .prompt h2{
        font-size: 50px;
    }

    .label h3{
        font-size: 60px;
    }

    .upload-image {
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .dropzone {
    }

    .dropzone .dz-message {
        font-size: 50px;
        margin: 10px;
    }

    .dropzone .dz-message .note {
        font-size: 40px;
        font-weight: 300;
        display: block;
        margin-top: 20px;
    }

    .footer {
        font-size: 40px;
        padding-bottom: 15px;
    }

    .footer a {
        font-size: 40px;
    }
}
