<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'annotator/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title>Recurrent Image Annotator</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive logo-image" src="http://placehold.it/100x100" alt="logo image">
            </div>
            <div class="col-md-8 text-right text-uppercase">
                <h1>Recurrent Image Annotator</h1>
                <h3>Jiren Jin</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive title-image" src="http://placehold.it/1300x300" alt="title image">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Upload or drag the image you want to annotate here.</h2>
                <img class="img-responsive" src="http://placehold.it/600x400" alt="drag image area">
            </div>
            <div class="col-md-3">
                <h3>here will be the predicted labels</h3>
                {% for label in annotation %}
                    <li><h4>{{label}}</h4></li>
                {% endfor %}
            </div>
            <div class="col-md-3">
                <h3>here will be the place for you to correct annotations</h3>
            </div>
        </div>
    </div>
</body>
</html>
