<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'annotator/css/dropzone.css' %}">
    <link rel="stylesheet" href="{% static 'annotator/css/style.css' %}">
    <link rel="icon" type="image/x-icon" href={% static 'annotator/favicon.ico' %}>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title>Recurrent Image Annotator</title>
</head>
<body>
<div class="container-fluid top">
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-md-3">
                <img class="img-responsive logo-image" src="{% static 'annotator/image/logo.png' %}" alt="logo image">
            </div>
            <div class="col-xs-10 col-md-9 text-right text-uppercase">
                <h1 class="title">Recurrent Image Annotator</h1>
                <h3 class="author">Jiren Jin</h3>
            </div>
        </div>
    </div>
    </div>
<div class="container-fluid center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr class="horizontal">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive title-image" src="{% static 'annotator/image/sun.jpg' %}" alt="example image">
            </div>
            <div class="col-md-3">
                <img class="img-responsive title-image" src="{% static 'annotator/image/tokyo.jpg' %}" alt="example image">
            </div>
            <div class="col-md-3">
                <img class="img-responsive title-image" src="{% static 'annotator/image/dog_cat.jpg' %}" alt="example image">
            </div>
            <div class="col-md-3">
                <img class="img-responsive title-image" src="{% static 'annotator/image/sakura.jpg' %}" alt="example image">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
				<div class="upload-image" id="dropzone">
                    <form action="{% url 'annotator:index' %}" class="dropzone needsclick dz-clickable" id="image-upload">
                        {% csrf_token %}
                        <div class="dz-message needsclick">
                            Drop images here or click to upload.<br>
                            <span class="note needsclick">(You can choose whether to allow us store your image or not.)</span>
                        </div>
                    </form>
                    <script src="{% static 'annotator/js/dropzone.js' %}"></script>
                </div>
            </div>
            <div class="col-md-3" id="annotation-result">
                <h3 class="prompt", id="prompt">Automatic annotation result:</h3>
                {% for label in annotation %}
                    <li><h4>{{label}}</h4></li>
                {% endfor %}
            </div>
            <div class="col-md-3">
                <h3 class="prompt">here will be the place for you to correct annotations</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bottom">
    <div class="container">
        <footer class="text-left footer">
            <p>Posted by Jiren Jin</p>
            <p>Contact information: <a href="mailto:jin@nlab.ci.i.u-tokyo.ac.jp">
            jin@nlab.ci.i.u-tokyo.ac.jp</a>.</p>
        </footer>
    </div>
</div>


<!--display the annotation result after successful uploading-->
<script>
Dropzone.options.imageUpload = {
  init: function(){
    this.on("success", function(file, response){
      var template = '<li><h3>%label%</h3></li>';
      // first, we need to remove the previous annotation
      $('#prompt').siblings().remove();
      response.forEach(function(label) {
        $('#prompt').after(template.replace('%label%', label));
      });
    });
  }
};
</script>
<script>
  // annotate the image when it's clicked
  $('.title-image').click(function(){
    console.log($(this).context.src);
    var imagePath = $(this).context.src.match(/annotator.*/)[0];
    console.log(imagePath);

    $.ajax({
      url: "/image_clicked",
      type: "POST",
      dataType: "JSON",
      data: {
        image_path: imagePath,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      }
    })
      .success(function(response){
        console.log('success');
        var template = '<li><h3>%label%</h3></li>';
        $('#prompt').siblings().remove();
        response.forEach(function(label) {
          $('#prompt').after(template.replace('%label%', label));
        });
      });
  });
</script>


</body>
</html>
